/********************헤더********************/
/********************헤더********************/
/********************헤더********************/

.header-logo{
    color: darkcyan;
}

/* 로고, 메뉴 */
.contentbox {
    /* text-align: center; */
    /* width: 100%; */
    /* max-width: 1200px; */
    margin: 0 auto;
    padding: 80px 20px;
}

.topmenu .contentbox {
    display: flex;
    justify-content: space-between;
    /* justify-content : center; */
    align-items: center;
    padding: 5px;
}


/* 로그인 회원가입 */
.system{
    /* font-size: 2px; */
}

/* 메뉴바 */
.active{
    /* background-color: rgb(134, 245, 100); */
    padding: 30px;
    margin: 30px;
    border-radius: 80px;
    border-style: groove;
    border-color: rgb(134, 245, 100);
}

/* 메뉴바 마우스오버 */
.active:hover{
    background-color: rgb(152, 226, 129);
    border-style: none;
}

/* 로그인글씨부분 */
.system > button::before {
    content: "";
    display: inline-block;
    width: 3px;height: 3px;
    border-radius: 50%;
    margin: 0 4px;
    background-color: #ddd;
    vertical-align: middle;
}   
/* .system > button:nth-of-type(1)::before {display: none;} */

/* nav {
    padding: 0;
    background-color: #f7f0ce;
    position: relative;
    z-index: 3;
} */

nav ul { 
    /* 가로설정 */
    display: flex; 
    /* ul부분 공간 잡혀있는 것 0으로 없애줌 */
    margin-bottom: 0rem;
    padding-left: 0rem;
}

/* 검색창 */
.hero__search__form {
    width: 80%;
    height: 50px;
    margin: 0 auto;
    border: 1px solid #ebebeb;
    position: relative;
    /* float: left; */
}

/* nav ul > li { flex: 1; text-align: center; } */
/* nav ul > li > button { color: #000000; font-size: 18px; font-weight: 700; } */
header { position: relative; z-index: 9999; }


/********************푸터********************/
/********************푸터********************/
/********************푸터********************/





/********************메인********************/
/********************메인********************/
/********************메인********************/



/* 오'키친 인기검색어 관련 css (class="content section01") */
element.style {
}
.section01 {
    margin: 100px auto;
    display: table;
}
.content {
    position: relative;
    width: 1280px;
    margin: 0 auto;
    vertical-align: top;
    display: block;
    clear: both;
}
user agent stylesheet
div {
    display: block;
}
body {
    font-family: 'OTTOGISans', 'Malgun Gothic', '맑은 고딕', "돋움", sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    color: #777;
    letter-spacing: 0;
    -webkit-text-size-adjust: none;
}
html {
    word-break: keep-all;
}